@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(8, 0, 0);
    --bgsecond-color: rgb(243, 253, 245);
    --main-color: rgb(52, 185, 0);
}

html {
    font-size: 65.5%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    min-height: 66px;
    width: 100%;
    padding: 0 100px;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);;
}
.navbar.active {
    display: block;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}


/*menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);   
    display: none;

}*/

header ul {
    position: relative;
}

header ul li {
    position: relative;
    list-style: none;
    float: left;
}

header ul li a {
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

header ul li a:hover {
    color: var(--main-color);
}

header ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--bg-color);
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--main-color);
}

header a img {
    width: 7vw;
    display: flex;
    align-items: center;
}

.introduce_content h3 {
    font-size: 7.2rem;
    font-weight: 700;
}

.introduce_content h3:nth-of-type(2) {
    margin-bottom: 5rem;
}

span {
    color: var(--main-color);
}

.introduce_img img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.introduce_content h2 {
    color: var(--main-color);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.introduce_content h1 {
    font-size: 6.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.introduce_content p {
    font-size: 2.6rem;
    font-weight: 300;
}

.introduce {
    background-color: var(--bgsecond-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.members h2 {
    font-size: 5.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--main-color);
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    position: relative;
    padding: 150px 0px;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card,
.img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: var(--bgsecond-color);
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 15px;
}

.carousel .card .img {
    background: var(--main-color);
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 2rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.contents-content {
    padding: 100px 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.contents {
    background-color: ghostwhite;
}

.contents h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: purple;
    text-align: center;
}

.contents h2 {
    font-size: 3.6rem;
    font-weight: 500;
    color: purple;
}

.contents p {
    font-size: 2.0rem;
    font-weight: 350;
}

.theinternet {
    padding: 25px 25px 25px 25px;
    width: 350px;
    height: 400px;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(196, 0, 196, 0.096);
    border: 3px solid purple;
    animation: floatImage 4s ease-in-out infinite;
}

.multimedia {
    padding: 25px 25px 25px 25px;
    width: 350px;
    height: 400px;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(196, 0, 196, 0.096);
    border: 3px solid purple;
    animation: floatImage 4s ease-in-out infinite;
}

.internetvsethernet {
    padding: 25px 25px 25px 25px;
    width: 350px;
    height: 400px;
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(196, 0, 196, 0.096);
    border: 3px solid purple;
    animation: floatImage 4s ease-in-out infinite;
}

.Internet-definition {
    background-color: var(--bgsecond-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Internet-definition h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: darkblue;
}

.definition {
    padding-right: 100px;
}

.Internet-definition h2 {
    font-size: 4.6rem;
    font-weight: 500;
    color: var(--main-color);
}

.Internet-definition p {
    font-size: 3rem;
    font-weight: 350;
}

.Internet-definition img {
    width: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px 25px 25px;
    animation: floatImage 4s ease-in-out infinite;
}

.useoftheinternet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.useoftheinternet h1 {
    text-align: left;
    font-size: 5.6rem;
    font-weight: 700;
    color: darkblue;
}

.useoftheinternet h2 {
    font-size: 4.6rem;
    font-weight: 500;
    color: rgb(219, 157, 0);
    text-align: left;
}

.useoftheinternet p {
    font-size: 3rem;
    font-weight: 350;
    text-align: left;
}

.useoftheinternet img {
    width: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px 25px 25px;
    animation: floatImage 4s ease-in-out infinite;
}

.useoftheinternet-content {
    padding-left: 200px;
}

.internet-connection {
    background-color: var(--bgsecond-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.internet-connection img {
    width: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px 25px 25px;
    animation: floatImage 4s ease-in-out infinite;
}

.internetconnection-content {
    padding-right: 250px;
}

.internetconnection-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: darkblue;
}

.internetconnection-content h2 {
    font-size: 4.6rem;
    font-weight: 500;
    color: rgb(157, 35, 35);
}

.internetconnection-content p {
    font-size: 3rem;
    font-weight: 350;
}

.internet-conection2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--bgsecond-color);
}

.internet-conection2-content {
    padding-left: 100px;
}

.internet-conection2 h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: darkblue;
    text-align: center;
}

.internet-conection2-content h2 {
    font-size: 3.6rem;
    font-weight: 600;
    color: rgb(157, 35, 35);
    text-align: center;
}

.internet-conection2-content p {
    font-size: 2.6rem;
    font-weight: 500;
}

.internet-conection2-content h3 {
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--main-color);
}

.internet-conection2-content span {
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.internet-conection2 img {
    width: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px 25px 25px;
    animation: floatImage 4s ease-in-out infinite;
}

.webbrowser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgba(138, 148, 255, 0.237);
}

.webbrowser img {
    width: 50vh;
    border-radius: 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: floatImage 4s ease-in-out infinite;
}

.webbrowser h1 {
    text-align: left;
    font-size: 5.6rem;
    font-weight: 700;
    color: rgb(206, 93, 0);
}

.webbrowser h2 {
    font-size: 4.6rem;
    font-weight: 500;
    color: rgb(2, 127, 165);
    text-align: left;
}

.webbrowser p {
    font-size: 3rem;
    font-weight: 350;
    text-align: left;
}

.webbrowser-content {
    padding-left: 100px;
}

.onlineservices {
    background-color: var(--bgsecond-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.onlineservices img {
    width: 70vh;
    border-radius: 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: floatImage 4s ease-in-out infinite;
}

.onlineservices h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: darkgreen;
}

.onlineservices h2 {
    font-size: 3.6rem;
    font-weight: 500;
    color: darkcyan;
}

.onlineservices p {
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.onlineservices span {
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--main-color);
}

.onlineservices-content {
    padding-right: 100px;
}

.onlineservices2 {
    background-color: var(--bgsecond-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.onlineservices2 h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: darkgreen;
}

.onlineservices2 h2 {
    font-size: 3.6rem;
    font-weight: 500;
    color: rgb(139, 0, 111);
}

.onlineservices2 p {
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.onlineservices2 span {
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--main-color);
}

.onlineservices2 img {
    width: 50vh;
    border-radius: 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: floatImage 4s ease-in-out infinite;
}

.onlineservices2-content {
    padding-left: 100px;
}

.electronicmail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 229, 229, 0.227);
}

.electronicmail img {
    width: 50vh;
    border-radius: 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: floatImage 4s ease-in-out infinite;
}

.electronicmail h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: rgb(203, 0, 34);
}

.electronicmail h2 {
    font-size: 3.6rem;
    font-weight: 500;
    color: rgb(2, 95, 255);
}

.electronicmail p {
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.email-content {
    padding-right: 100px;
}

.wordwideweb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(217, 217, 217);
}

.wordwideweb img {
    width: 50vh;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: floatImage 4s ease-in-out infinite;
}

.wordwideweb h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: rgb(45, 101, 105);
}

.wordwideweb h2 {
    font-size: 3.6rem;
    font-weight: 500;
    color: rgb(126, 36, 102);
}

.wordwideweb p {
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.wordwideweb-content {
    padding-left: 100px;
}

.www2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 217, 217);
}

.www2 img {
    width: 50vh;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: floatImage 4s ease-in-out infinite;
}

.www2 p {
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.www2-content {
    padding-right: 100px;
}

.definitionmultimedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.718);
}

.definitionmultimedia h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: rgb(196, 0, 141);
}

.definitionmultimedia h2 {
    font-size: 3.6rem;
    font-weight: 500;
    color: #17c300;
}

.definitionmultimedia p {
    font-size: 2.6rem;
    font-weight: 350;
    color: var(--text-color)
}

.definitionmultimedia img {
    width: 50vh;
    border-radius: 25px 25px 25px;
    box-shadow: 0 4px 12px 0 rgba(145, 145, 145, 0.2);
    animation: floatImage 4s ease-in-out infinite;
}

.demultimedia-content {
    padding-left: 100px;
}

.popularmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgsecond-color);
}

.popularmedia h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: rgb(0, 69, 188);
}

.popularmedia h2 {
    font-size: 3.6rem;
    font-weight: 500;
    color: var(--main-color);
}

.popularmedia p {
    font-size: 2.6rem;
    font-weight: 350;
    color: var(--text-color)
}

.popularmedia-content {
    padding-right: 100px;
}

.popularmedia img {
    width: 70vh;
    animation: floatImage 4s ease-in-out infinite;
}

.application {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.application h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: rgb(188, 0, 41);
}

.application h2 {
    font-size: 3.6rem;
    font-weight: 500;
    color: darkorchid;
}

.application p {
    font-size: 2.6rem;
    font-weight: 350;
    color: var(--text-color)
}

.application-content {
    padding-left: 100px;
}

.application img {
    width: 50vh;
    border-radius: 25px 25px 25px;
    box-shadow: 0 4px 12px 0 rgba(145, 145, 145, 0.2);
    animation: floatImage 4s ease-in-out infinite;
}

.application span {
    font-weight: 400;
}

.application2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.application2 img {
    width: 50vh;
    border-radius: 25px 25px 25px;
    box-shadow: 0 4px 12px 0 rgba(145, 145, 145, 0.2);
    animation: floatImage 4s ease-in-out infinite;
}

.application2 p {
    font-size: 2.6rem;
    font-weight: 350;
    color: var(--text-color)
}

.application2 span {
    font-weight: 400;
}

.application2-content {
    padding-right: 100px;
}

.application3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.application3-content {
    padding-left: 100px;
}

.application3 p {
    font-size: 2.6rem;
    font-weight: 350;
    color: var(--text-color)
}

.application3 span {
    font-weight: 400;
}

.application3 img {
    width: 50vh;
    border-radius: 25px 25px 25px;
    box-shadow: 0 4px 12px 0 rgba(145, 145, 145, 0.2);
    animation: floatImage 4s ease-in-out infinite;
}

.internet_vs_ethernet {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(224, 219, 254, 0.438);
}

.internet_vs_ethernet h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: rgb(44, 0, 165);
}

.internet_vs_ethernet span {
    font-size: 3.0rem;
    font-weight: 500;
    color: rgba(194, 0, 197, 0.993);
}

.internet_vs_ethernet p {
    font-size: 3.0rem;
    font-weight: 350;
    color: var(--text-color);
}

.internet_vs_ethernet img {
    width: 50vh;
    border-radius: 25px 25px 25px;
    box-shadow: 0 4px 12px 0 rgba(145, 145, 145, 0.2);
    animation: floatImage 4s ease-in-out infinite;
}

.internetvsethernet-content {
    padding-right: 100px;
}

.internet_vs_ethernet2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.internet_vs_ethernet2 h1 {
    font-size: 2.6rem;
    font-weight: 400;
}

.end {
    padding-top: 100px;
}

.end h2 {
    font-size: 2.6rem;
    font-weight: 700;
    color: var(--main-color);
    text-align: center;
    background-color: var(--bgsecond-color);
    border-radius: 25px 25px 25px;
    border: 2px solid var(--main-color);
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    font-size: 2.6rem;
    font-weight: 450;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(44, 0, 165);
    color: white;
}

#customers td {
    font-size: 2.5rem;
    font-weight: 350;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bgsecond-color);
}

.footer-text {
    font-size: 1.5rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a i {
    font-size: 2.5rem;
    color: var(--bgsecond-color);
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .introduce {
        flex-direction: column;
    }
    .introduce h3 {
        font-size: 2.6rem;
    }
    .introduce h1 {
        font-size: 5rem;
    }
    .introduce img {
        width: 70vw;
        margin-top: 4rem;
    }
    .contents {
        flex-direction: column;
        margin-top: 4rem;
    }
    .Internet-definition {
        flex-direction: column;
    }
    .Internet-definition img {
        width: 70vw;
        margin-top: 4rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 365px) {
    html {
        font-size: 50%;
    }
}